.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sider {
  height: 100vh;
  color: rgb(255, 255, 255);
  /* background-color: white !important; */
  width: 1vw !important;
}
.ant-layout-header {
  background-color: #55c0e0 !important;
}
.sider-close {
  width: 0px !important;
  min-width: 0px !important;
  display: none;
}
.sider {
  height: 150vh;
}

.line_chart_select > .ant-select {
  width: 200px !important;
  border: none !important;
}
